.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
}

.Post figure,
h5 {
    margin: 0 0;
}

.Fire {
    color: #f85032;
}

.Fire:hover {
    color: #2142b2;
}

.FireOutline:hover {
    color: #f85032;
}
